.navbar {
  background-color: rgb(164, 226, 17);
  width: fit-content auto;
  height: 30px;
  border-radius: 20px;
}

.search {
  margin-top: -15.5px;
  padding: 2px 2px 2px 2px;
  height: 20px;
  border-radius: 20px;
  margin-left: 340px;
  background-position: right;
  position: static;
  color: red;
}
